#container-top{
    /* border: 1px solid black; */
    height:300px;
    width: 60%;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#container-top >div{
    display: inline-block;
    align-items: center;
    margin: 10px;
}
.butn{
   border: none;
   color:white;
   background-color: aqua;
   width: 20%;
   padding: 10px;

}
img{
    width: 60px;
    height: 60px;
}